@charset "UTF-8";

*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}


body , html{
    background-color: darkorange;
}

header{
    background-color: darkturquoise;
}

header > h1{
    padding: 20px;
    text-align: center;
}

menu{
    display: block;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(128, 243, 245);
    color: red;
    border-top: 3px dotted darkslategrey;

}

menu a:hover{
    background-color: rgb(209, 145, 66);
}

main{
    width: 95vw;
    background-color: red;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 30px;
}