@charset "UTF-8";

/*Estilo para telas */

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace;
    font-size: 3em;
}

header{
    background-color: rgb(54, 87, 85);
}

header > h1{
    text-align: center;
}


menu ul{
    list-style-type: none;
    background-color: rgb(82, 19, 12);
}

menu li{
    background-color: darkturquoise;
    color: red;
    display: inline-block;
    padding: 20px;
}

article{
    width: 700px;
    display: block;
    margin: auto;
}